# Xcode
DerivedData/
*.xcworkspace
!default.xcworkspace
*.xcuserdata
*.xccheckout
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/xcshareddata/**/*
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
.build/
*.swiftpm/xcode/

# CocoaPods
Pods/
Podfile.lock
# Uncomment if you have a private Podspec
# *.podspec

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/report.junit

# Xcode specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# SwiftPM
.swiftpm/
.build/

# Documentation
.doccache/
*.doccarchive

# Symbolication
*.bcsymbolmap

# Build artifacts
build/
*.o
*.LinkFileList
*.lldb

# Indexing
*.idx
*.Index/

# Build timing
.xccoverage

# Others
*.DS_Store
*.oroginal/
.idea/
.vscode/
